<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Currier-iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Currier-macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Currier-tvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Currier-watchOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0C0A06A61E52FD660098FC41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C0A06AF1E52FD660098FC41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C1E61421E69EA640034F4A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C1E614E1E69EACD0034F4A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C6F5CA61E6813FB0071F2B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C6F5CB41E6817B00071F2B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C6F5CC11E68187A0071F2B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
